.container {
    box-shadow: 0px 2px 8px 0px #aaaaaa;
    border-radius: 0.5rem;
    text-align: center;
}


.recipeImage {
   
    clip-path: circle(160px at center);
    margin: 2.5rem 0;
    
    
}

.name {
   
    font-size: 1.5rem;
    margin: 1rem 2rem;
}

.btn {
   
    width: 100%;
    margin: 0;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: lightblue;
    padding: 1rem;
    text-transform: uppercase;
}

.btn:hover {
    color: blue;
    background-color:lightgreen;
   
}

.description {
    text-decoration: none;
}